* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "urbanist";
  letter-spacing: 0.1rem;
}

html {
  font-family: 62.5%;
}

body {
  background-color: #0c7ce5;
  background-image: linear-gradient(to right, #434343 0%, rgb(61, 67, 77) 100%);
  color: #198181;
}

.currency-converter {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.currency-div {
  padding: 3.2rem;
  background-image: linear-gradient(to top, #1a1d25 0%, #314f77 100%);
  color: #1c2833;
  display: flex;
  border-radius: 0.5rem;
  flex-direction: column;
  gap: 1.6rem;
}

.currency-selector {
  display: flex;
  justify-content: space-between;
}

h1 {
  color: #667eea;
}

input {
  padding: 0.3rem;
}

button {
  outline: none;
  border: none;
  padding: 0.3rem 0.6rem;
  border-radius: 0.1rem;
  -border-radius: 0.1rem;
  -moz-border-radius: 0.1rem;
  -ms-border-radius: 0.1rem;
  -o-border-radius: 0.1rem;

  background: #0099cc;

  cursor: pointer;
}

section button:hover {
  background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  color: #ffffff;
}

button:disabled,
button[disabled] {
  background-color: #cccccc;
  color: #666666;
}
